
@font-face {
	font-family: NoneShallPassFonts;
	src: url('NoneShallPassFonts.ttf');
}

.body {
	background-color: #C0C0C0;
}

.status-line {
	width: 100%;
	height: 30px;	
	font-family: NoneShallPassFonts;	
	font-size: 24px;	
}

.wave-text {
	position: absolute;
	left: 10px;
}

.wave-value {
	position: absolute;
	left: 100px;
}

.score-text {
	position: absolute;
	right: 100px;
}

.score-value {
	position: absolute;
	right: 10px;
}

.lcd-value {
	margin-left: auto;
	margin-right: auto;
	width: 90px;
}

.lcd-border {
	border-style: ridge;
	border-width: 4px;
}

.lcd-num {
	background-image: url(../images/led_values.png);
	width: 30px;
	height: 48px;
	display: inline-block;
}

.lcd-image-0 {
	background-position: 0px 0px;
}

.lcd-image-1 {
	background-position: -30px 0px;
}

.lcd-image-2 {
	background-position: -60px 0px;
}

.lcd-image-3 {
	background-position: -90px 0px;
}

.lcd-image-4 {
	background-position: -120px 0px;
}

.lcd-image-5 {
	background-position: -150px 0px;
}

.lcd-image-6 {
	background-position: -180px 0px;
}

.lcd-image-7 {
	background-position: -210px 0px;
}

.lcd-image-8 {
	background-position: -240px 0px;
}

.lcd-image-9 {
	background-position: -270px 0px;
}

.lcd-image-empty {
	background-position: -300px 0px;
}

.lcd-image-dash {
	background-position: -330px 0px;
}

.title {
	position: absolute;
	left: 0px;
	top: -20px;
	height: 50px;
	font-size: 40px;
	font-family: NoneShallPassFonts;
	color: white;
	display:inline-block;	
}

.board {
	height: 90px;
	background-color: #C0C0C0;
}

.game-box {
	margin-left: auto;
	margin-right: auto;
}

.settings-dialog {
	width: 800px;
	height: 530px;
	position: absolute;
	top: 5px;
	left: 3%;
	background-color: #C0C0C0;
	border: medium solid black;
	border-radius: 20px / 15px;
	box-shadow: 5px 4px 10px 2px gray;
	padding: 5px;
	z-index: 2;
}

.settings-title {
	font-size: 40px;
	font-family: NoneShallPassFonts;
	color: blue;
	width: 100%;
	margin-top: 1px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
}

.settings-text {
	font-size: 32px;
	font-family: NoneShallPassFonts;
	color: black;
}

.settings-text2 {
	font-size: 32px;
	font-family: NoneShallPassFonts;
	color: red;
}

.settings-header {
	width: 450px;
	margin-left: 30px;
	height: 60px;
	vertical-align: 50%;
}

.settings-header2 {
	width: 250px;
	margin-left: 30px;
	height: 60px;
	vertical-align: 50%;
}

.settings-total {
	color: red;
	width: 594px;
	margin-left: 30px;
	text-align: right;
	height: 60px;
	vertical-align: 50%;	
}

.settings-unit {
	margin-left: 18px;
	margin-right: 118px;
}

.settings-unitnumber {
	width: 64px;
	text-align: center;
	height: 60px;
	vertical-align: 50%;
}

.settings-number {
	width: 80px;
	text-align: center;
	height: 60px;
	vertical-align: 50%;
}

.settings-footer {
	width: 80px;
	text-align: right;
	height: 60px;
	vertical-align: 50%;
}

.settings-item {
	height: 65px;
}

.settings-line {
	display:inline-block;
}

.settings-button {
	position: absolute;
	top: 425px;
	left: 0px;
	padding-top: 55px;
	padding-left: 50px;
	background-image: url(../images/button.png);
	background-repeat: no-repeat;	
	background-position: center;
	color: blue;
	width: 190px;
	height: 90px;	
	font-size: 24px;
	font-family: NoneShallPassFonts;
}

.settings-ecoin {
	position: absolute;
	top: 5px;
	left: 5px;
}

.go-left {
	background-image: url(../images/go-left.svg);
	background-repeat: no-repeat;	
	background-position: center;
	background-size: 40px 40px;
	width: 40px;
	height: 60px;
}

.go-right {
	background-image: url(../images/go-right.svg);
	background-repeat: no-repeat;	
	background-position: center;
	background-size: 40px 40px;
	width: 40px;
	height: 60px;
}

.settings-coin {
	margin-left: 20px;
	width: 40px;
	height: 40px;
	vertical-align: 50%;
}

.image-preload {
	visibility: hidden;
}

.title {
	font-size: 30px;
	font-family: NoneShallPassFonts;
	width: 100%;
	text-align: center;
}

.cheat-settings {
	width: 849px;
	height: 479px;
	border: medium solid black;
	position: absolute;
	top: 5px;
	left: 3%;
	box-shadow: 5px 4px 10px 2px gray;	
}

.cheat-image {
}
